.c {
    display: flex;
    justify-content: space-between;
    background-color: rgb(207, 245, 245);
  }
  
  .comp1 {
    position: relative;
    width: 45%;
    padding: 20px;
    background-color: rgb(207, 245, 245);
    margin-bottom: 20px;
  }
  .comp2 {
    position: relative;
    width: 45%;
    padding: 20px;
    background-color: rgb(207, 245, 245);
    margin-bottom: 20px;
  }
  
  .photo {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    background-color: #ddd; /* Adjust the background color as desired */
  }
  
  .content {
    margin-top: 10px;
  }
  
  .arrow {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 10px solid #000;
    border-right: 10px solid #000;
  }
  
  a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
  }
  