.six-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0dbdb;
    height: 100vh;
    padding: 0;
    margin: 0;
  }
  
  .six-content {
    color: #002633;
    width: 50%;
  }
  
  .six-content h2 {
    margin: 0;
    font-size: 24px;
    color: #002633;
    font-weight: 600;
    line-height: 1.2;
  }
  
  .six-content p {
    margin: 0;
    line-height: 1.5;
    font-size: 14px;
  }
  
  .store-logos {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  
  .store-logos a {
    margin-right: 10px;
  }
  
  .store-logos img {
    width: 120px;
  }
  
  .curved-imag {
    flex: 1;
    height: 50%;
    background-image: url('./Assets/f1.png'); /* Replace with your curved image */
    background-size: cover;
    background-position: center;
    width: 50%;
    border-radius: 50%;
    border: 2px solid #002633;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  
  
  
  